html, body, #root {
  height: 100%;
  margin: 0;
  background-color: black;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}
.carousel-item img {
  height: 60vh;
  object-fit: cover;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 40vh;
  }
}
h1{
  color: white;
}
@media (min-width: 1200px) {
    .h1, h1, h2, p {
       
        color: white !important;
    }
  }
